.trigger {
    width: 200px;
    height: 200px;
    background-color: red;
}

.full-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.full-picture-item {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin: 0 40px;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 20px;
}

.active {
    opacity: 0.5;
}

.clickable {
    padding: 100px;
    border: 1px solid black;
}


.left-arrow {
    width: 70px;
    height: 25px;
}

.right-arrow {
    width: 70px;
    height: 25px;
}